<h1><%= current_user.name %></h1>
<br />
<% if current_user.items.count == 0  %>
    <h4>You have no current items!</h4>
<% end %>

<div class="item-form">    
    <%= render partial: 'items/form', locals: { item: Item.new } %>
</div>

<ul class="collection with-header">
    <li class="collection-header"><h4>Tasks</h4></li>
    <div class="task-list">
        <% current_user.items.each do |item| %>
            <% if !item.complete %>
                <%= render item %>
            <% end %>
        <% end %>
        <% current_user.items.each do |item| %>
            <% if item.complete %>
                <%= render item %>
            <% end %>
        <% end %>
    </div>
</ul>
