<%= form_for [current_user, item] do |f| %>
    <div class="row">
    <div class="input-field col s11">
        <%= f.text_field :name, placeholder: "Add an item" %>
    </div>
    <%= f.submit "Add", class: 'btn-floating btn-large waves-effect waves-light teal right' %>
    </div>
<% end %>